#about {
    padding: 60px;
    /* background-color:var(--blue); */
    background-color:var(--primary);

}
#about h4 {
    font-weight: bold;
    color: rgb(252, 233, 215);
    font-size: 1.4em;
}
#about p:not(:last-child) {
    margin-bottom: 40px;
}

#about h3{
    font-size: 2em;
    font-weight: bold;
    color: var(--white);
}
#about p {
    /* color: var(--white); */
    color: rgb(75, 67, 60);
    margin: 50px 0;
    font-size: 1.5em;
}

#developers {
    margin: 30px 0;
    text-align: center;
    padding: 60px;
}
#developers div {
    text-align: center;
}
#developers div img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: solid 1px #ccc;
}
#developers h3 {
    margin-bottom: 70px;
    color: var(--darkGray);
    font-size: 3em;  
    font-family: didot; 
}

#developers p {
    /* color: var(--white); */
    color: var(--gray);
    font-size: 1.5em;
    padding-bottom: 5em;

}
#devs p{
    color: var(--gray);
    font-size: 1.5em;
    padding: 0 0 10px 0;

}
/*
footer{
        background-color: rgb(252, 233, 215);
        text-align: left;
        padding-top: 2em;
        padding-bottom: 2em;
        font-size: 17px;
}
 */