.introBG{
    background-color: #ED6B61;
    background-size: cover;
    height: 350px;
}
.centerfloater{
    margin: auto;
    text-align: center;
    display: block;
    color: rgb(255, 255, 255);

}
.centerfloater1{
    margin-left:auto;
    margin-right: auto;
    padding-top: 7em;
    display: block;
    width: 70px;

}

#introH > h2{
    padding: 0.7em 0 1em 0;
    text-align: center;
    font-style: italic;
    font-family: didot;
    font-size: 4em;
    color: rgb(37,37,37);
    position: relative;
    font-size: 3.5em;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#introH > h2:after{
    position: absolute;
    top: 50%;
    overflow: hidden;
    width: 47%;
    height: 1px;
    content: '\a0';
    background-color: rgb(0, 0, 0);

}
#introH > h2:before{
    margin-left: -50%;
    text-align: right;
    position: absolute;
    top: 47%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
    background-color: rgb(0, 0, 0);

}


.discussion {
    border: solid 1px var(--secondary);
}
.discussion:not(last-child) {
    margin-bottom: 30px;
}

.discussionTitle {
    font-weight: bold;
    padding: 10px 5px;
    background-color: var(--secondary);
    color: var(--white);
}

.discussionContent {
    padding: 5px 0;
}

p {
    text-align: justify;
}

.forumTable{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border: solid 1px var(--secondary);
}
table tr td:not(last-child) {
    padding-right: 20px;
}
table td:first-child{
    padding-left: 20px;
}
table td:last-child{
    padding-right: 20px;
}
table a {
    color: var(--primary);
}
table td:not(:first-child), table th:not(:first-child) {
    display: none;
}
th {
    padding: 15px 0;
    border-bottom: solid 1px;
    background-color: var(--secondary);
    color: var(--white);
    padding-left: 15px;
}
th:first-child {
    padding-left: 15px;
    border-bottom: solid 1px;
}
td {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    border-top: solid 1px var(--secondary);
    border-bottom: solid 1px var(--secondary);
}

.tblColOne {
    width: 70%;
}

.tblColOne a {
    display: block;
    margin-bottom: 10px;
    color: var(--secondary);
}

.tblColOne p {
    padding-bottom: 0;
}

.responseContainer {
    padding: 20px;
    border: solid 1px var(--secondary);
    background-color: var(--responseBgColor);
}

.responseContainer:not(:last-child) {
    margin-bottom: 15px;
}

.responseContainer .creatorMeta {
    margin-bottom: 10px;
}

.responseContent p{
    padding-bottom: 0;
}


/* Desktop/Laptop styles */
@media screen and (min-width: 1024px){
    table td:not(:first-child), table th:not(:first-child) {
        display: table-cell;
    }

    #forumTopicForm div, #forumTopicResponseForm div {
        width: 70%;
        margin: 20px auto;
    }

    #forumTopicForm div>textarea {
        width: 100%;
    }


}