h2 {
    font-weight: bolder;
    font-size: 2em;
}

h3 {
    font-size: 1.7em;
    font-weight: bold;
    font-family: 'didot';
    padding-left: 30px;
    color: rgb(70,77,70);
    text-align: left;
    padding-top: 30px;
}

.divider > h3{
    color: rgb(42, 44, 42);
    text-shadow: 0 0 6px var(--white);
    font-size: 2.3em;
    text-align: center;
}
/*
#about > img{
    height: 80px;
    padding-left: 50px;
}

 #welcome-img {
    grid-column: span 3;
    min-height: 500px;
    
}  */
#welcome {
    padding: 20px;
}
#welcome-text {
    grid-column: span 3;
}
#welcome-text p {
    margin-bottom: 50px;
    color: var(--white);
}
#welcome-text h2 {
    margin-bottom: 50px;
    color: var(--white);
}

#headLogo {
    display: block;
    margin: 0 auto;
    width: 250px;
}

/* Desktop/Laptop styles */
@media screen and (min-width: 1024px){
    #headLogo {
        width: 150px;
    }
}