h2 {
    font-weight: bolder;
    font-size: 2em;
}

h3 {
    font-size: 1.7em;
    font-weight: bold;
}

#welcome-img {
    grid-column: span 3;
    text-align: center;
    min-height: 300px;
}
#welcome {
    padding: 60px;
}
#welcome-text {
    grid-column: span 3;
}
#welcome-text p {
    margin-bottom: 50px;
    color: var(--white);
}
#welcome-text h2 {
    margin-bottom: 50px;
    color: var(--white);
}