/* Variables */
:root {
    --primary: #ED6B61;
    --secondary: #294282;

    --blue: #007CBD;
    --gray: #666666;
    --darkGray: #4c4c4c;
    --white: #fafafa;

    --responseBgColor: #E1EBF2;
    --alert: #ff4538;
}

/* Reset styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    text-decoration: none;
}

/* Base styles */
body {
    font-family: 'Oxygen Regular', Arial, sans-serif;
    font-size: 36px;
}
.button {
    background: var(--primary);
    padding: 30px;
    border-radius: 5px;
    display: inline-block;
    text-transform: uppercase;
    box-shadow: 0 7px 0 #b35500;
    position: relative;
    color: #fff;
}
.button:active {
    box-shadow: none;
    top: 5px;
}

/* Font */
@font-face {
    font-family: 'Oxygen Regular';
    src: url("../fonts/Oxygen-Regular.ttf");
}
h1, h2, h3, h4 {
    font-weight: normal;
    color: #4c4c4c;
}
p, a, li {
    color: #626262;
}

.divider{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* background-color: var(--secondary); */
    height: 45em;
    text-align: center;
    /* width: 80%;
    margin-left: auto;
    margin-right: auto; */
}

.divider img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.divider > h3{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: rgb(70, 77, 70);
    /* padding-top: 60px; */
}

/* Mobile styles */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.site-nav {
    grid-column: span 3;
    padding: 20px 0 40px 0;
}
.site-nav h1 a {
    font-size: 2em;
    color: var(--primary);
    margin: 0;
    padding: 0;
}
.brand {
    grid-column: span 2;
    margin: 0 20px;
}
.brand span {
    margin-top: -10px;
}

.menu {
    display: none;
    grid-column: span 3;
    list-style-type: none;
}
.menu li:not(:last-child) {
    border-bottom: 1px solid #666666;
}

.menu li a {
    padding: 25px;
    display: block;
    color: #fff;
    background-color: var(--darkGray);
}
.menu a:hover {
    background-color: var(--gray);
}
.subNav li a{
    padding-left: 60px;
}

.mobileNav img {
    float: right;
    width: 60px;
    height: 60px;
    margin: 45px 20px 0;
}

main {
    margin: 0 20px;
}

footer {
    background-color: rgb(238, 238, 238);
    /* background-color: rgb(252, 233, 215); */
    text-align: left;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 10px;
    font-size: 17px;
    color: rgb(122, 114, 108);
    /* color: rgb(155, 127, 101); */

}
a{
    color: var(--primary);
}
.infoFooter{
    padding: 10px 0 0 18px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-instagram{
      background: var(--primary);
      color: white;
  }

  .fa:hover {
    opacity: 0.7;
  }

  p > a{
      float:right;
      
  }

.formContainer input, .formContainer textarea, .formContainer select {
    font-size: 1em;
    width: 100%;
    padding: 30px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    color: var(--gray);
    box-sizing: border-box;
    appearance: none;
}
.formContainer input[type='submit'] {
    background-color: var(--primary);
    padding: 30px 15px;
    color: var(--white);
    cursor: pointer;
}
.formContainer input[type='button'], .formContainer input[type='reset'] {
    background-color: var(--primary);
    color: var(--white);
    cursor: pointer;
}

.formLabel {
    display: none;
}

#logoutLink {
    display: none;
}

.alert {
    float: right;
    color: darkred;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* Desktop/Laptop styles */
@media screen and (min-width: 1024px){
    .grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 15px;
    }

    body {
        font-size: 1em;
    }

    .site-nav {
        grid-column: span 12;
    }
    .brand {
        grid-column: span 1;
    }

    #navIcon {
        display: none;
    }

    .menu {
        visibility: visible;
        grid-column: 2/13;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0 20px;
    }
    .menu li:not(:last-child) {
        border-bottom: none;
    }
    .menu a:hover {
        border-bottom: solid 2px var(--darkGray);
        background-color: #fff;
    }
    .menu li a {
        border-bottom: solid 2px var(--primary);
        background-color: #fff;
        color: var(--darkGray);
    }

    .dropdown:hover .parentNav {
        border-bottom: solid 2px var(--gray);
    }
    .dropdown:hover .subNav {
        display: block;
    }

    .subNav {
        display: none;
        position: absolute;
        margin: 0;
        transition: display 1s;
    }
    .subNav li a{
        padding: 20px 50px;
        background-color: var(--darkGray);
        border-bottom: none;
        color: #fff;
    }
    .subNav a:hover {
        border-bottom: 0;
        background-color: var(--gray);
    }

    .parentNav:hover .subNav {
        display: block;
    }

    .formLabel {
        display: block;
    }

    .signup, .login, .prompt, .contact {
        width: 600px;
        margin: 50px auto;
    }
    section hr {
        margin-bottom: 30px;
    }

    .formContainer input, .formContainer textarea, .formContainer select {
        font-size: 1em;
        width: 100%;
        padding: 10px;
        margin: 5px 0 20px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
        color: var(--gray);
        box-sizing: border-box;
    }
    .formContainer input[type='submit'] {
        background-color: var(--primary);
        padding: 15px;
        color: var(--white);
    }

    .btnGroup {
        display: flex;
        justify-content: space-around;
    }
    .btnGroup input[type="submit"]:not(:last-child) {
        margin-right: 5px;
    }
    .btnGroup input[type="submit"]:not(:first-child) {
        margin-left: 5px;
    }
}

/* hello world! */