/* Variables */
:root {
    --primary: #ED6B61;
    --secondary: #294282;
}

/* Reset styles */
body, p, a, ul, li {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
li {
    list-style-type: none;
}

/* Base styles */
body {
    font-family: 'Oxygen Regular', Arial, sans-serif;
    font-size: 36px;
}
.button {
    background: var(--primary);
    padding: 30px;
    border-radius: 5px;
    display: inline-block;
    text-transform: uppercase;
    box-shadow: 0 7px 0 #b35500;
    position: relative;
    color: #fff;
}
.button:active {
    box-shadow: none;
    top: 5px;
}

/* Font */
@font-face {
    font-family: 'Oxygen Regular';
    src: url("../fonts/Oxygen-Regular.ttf");
}
h1, h2, h3, h4 {
    font-weight: normal;
    color: #4c4c4c;
}
p, a, li {
    color: #626262;
}

/* Mobile styles */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.site-nav {
    grid-column: span 3;
    padding: 20px 0;
}
.site-nav h1 {
    font-size: 3em;
    color: var(--primary);
    margin: 0 20px;
}


/* Tablet styles */
@media screen and (min-width: 960px){

}

/* Desktop/Laptop styles */
@media screen and (min-width: 1024px){

}
